$font-path: "src/assets/fonts" !default;

@font-face {
  font-family: "FiraSans";
  src: url('#{$font-path}/FiraSans-Black.ttf');
}

@font-face {
  font-family: "Rosario Light";
  src: url('#{$font-path}/Rosario-Light.ttf');
}

@font-face {
  font-family: "Who Cats";
  src: url('#{$font-path}/Whocats.ttf');
}